body {
  background-color: rgba(8, 173, 118, 0.496);
}

/* edit starts */

.container {
  background-color: rgb(211, 211, 211, 0.9);
  align-items: center;
}

.top {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  color: rgb(0, 0, 0);
  /* font-size: large; */
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  padding-left: 1em;
  right: 20px;
}

.top_quote {
  background-image: url(../photos/article2.jpg);
}

.top_quote,
.quote_right {
  display: inline-block;
  background: rgba(211, 211, 211, 0);
  margin-inline-start: 10px;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
}

h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* edit ends */

#quote {
  text-align: center;
  align-content: center;
  font-size: 35px;
  margin-left: 590px;
}
#quote_end {
  font-size: 25px;
  margin-left: 85%;
}
#content_bracket {
  font-size: 25px;
  margin-left: 10px;
}
#content {
  position: relative;
  background-image: url(../photos/article3_1.jpg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position-x: 1000px;
  background-position-y: 200px;
}

/* edit starts */
header {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  background: rgb(2, 2, 2);
}

header nav {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;

  box-sizing: border-box;

  padding: 0 10%;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: none;
  align-items: center;

  -webkit-justify-content: space-around;
  justify-content: space-around;
}

header nav a {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;

  box-sizing: border-box;

  width: 50px;
  height: 50px;

  margin: 10px;

  background: linear-gradient(rgba(211, 211, 211, 0.6));
  width: fit-content;
  color: white;
  text-decoration: none;
  text-align: none;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
}
/* ends */
#top-img {
  position: relative;
  right: 04%;
}
