[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.header {
  text-align: center;
}

body {
  background-color: bisque;
  color: #3f3351;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: silver;
}

.tab {
  cursor: pointer;
  padding: 2px 10px 4px 10px;
  font-size: xx-large;
}

.tab.active {
  text-decoration: #ff008e 5px underline;
  text-underline-offset: 5px;
  color: #ff008e;
}
.about-content {
  display: flex;
}
.stat-img {
  height: 100px;
  width: 100px;
  padding: 3%;
}
.stat-text {
  font-size: xx-large;
  padding: 4%;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}
#username {
  font-size: 50px;
  display: inline-flex;
  padding-left: 20px;
  padding-bottom: 30px;
}

#pp {
  height: 300px;
  width: 300px;
  padding-left: 50px;
}

.picker {
  display: flex;
}
.picker-img {
  margin: 2% 10%;
}
.picker-man {
  font-size: xx-large;
  margin-top: 10%;
}

.hm {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  text-align: center;
  padding-top: 10%;
}
.happy {
  height: 100px;
  width: 100px;
}
.message {
  height: 32px;
  width: auto;
}

.last-donation {
  margin-bottom: 2%;
  margin-left: 5%;
  font-size: xx-large;
  padding: 4%;
  display: inline-block;
}
.ld {
  margin: 2% 0 0 5%;
  display: inline-block;
}
