body {
  background-color: #e4b3cf;
}
.box {
  height: 90vh;
  width: 90vw;
  border: 6px;
  border-style: inset;
  border-color: red;
  margin: 2% 4%;
}

.note {
  font-family: "Dancing Script", cursive;
  height: 40vh;
  width: 55vw;
  text-align: center;
  margin: 20%;
  font-size: 8vh;
  font-weight: bold;
  opacity: 10;
}
.image {
  height: 75vh;
  width: 50vw;
  position: absolute;
  left: 25vw;
  top: 10vh;
  opacity: 0.4;
}
.return {
  font-size: x-large;
  position: absolute;
  left: 40vw;
  top: 90vh;
}

.pickup-msg {
  font-size: 0.4em;
  position: relative;
  top: 50%;
  font-family: monospace;
}
